<div class="event">
    <div class="img">
        <img src="{{image}}">
    </div>
    <div class="event-info">
        <h1>{{name}}</h1>
        <p><span>Location: </span>{{location}}</p>
        <p><span>Type: </span>{{typeDisaster}}</p>
    </div>

    <a href="/disasters/{{id}}/details" class="btn-details">Details</a>
</div>